[Unit]
Description=cosmic-ext-lang-switch keyboard layout corrector
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/cosmic-ext-lang-switch-daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
